<hr/>
<div class="container bg-light pb-2">
    <h4>Comment</h4>

    <form id="test-form" action="comment.php" method="post" >
        <textarea type="content" name="content" placeholder="write comment" class="form-control" value="{{input}}"></textarea>

        <button class="btn btn-primary mt-2">Comment</button>
    </form>

    {% for content in contents %}
        <div class="media-body w-75">
            <hr/>
            <h4>{{content.content}}</h4>
            <p>{{content.username}} - {{contens.created|date('d F Y')}}</p>
        </div>
    {% endfor %}
</div>

